.about{
    background-color: #FBFADA;
}
.container{
    margin-top: 3rem;
}

.secondColumn{
    padding: 0;
    margin-left: 3rem !important;
}


@media screen and (max-width: 400px) {
    .about{
        padding: 3rem !important;
    }
    
    .container{
        margin-top: 0;
    }
}