.contact-form{
    background-color: #191919;
}

.contact-form-container{
    background-color: #092635;
    flex-direction: row;
}

.img-container,
.form-container{
    width: 50%;
}

.img-container{
    background: url('../../assets/formBackground.jpg') no-repeat center center/cover;
}


@media screen and (min-width: 650px) and (max-width: 2560px ) {
    .img-backgr{
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .contact-form-container{
        flex-direction: column;
        margin: 3rem 0;
    }
    .img-container,
    .form-container{
        width: 100%;
    }

    .img-backgr{
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .contact-form{
        padding: 3rem 2rem !important;
    }
}


