.card{
    box-shadow: 4px 4px 5px 0px rgba(180,180,180,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(180,180,180,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(180,180,180,0.75);
}

.card img{
    height: 100%;
    width: 20%;
} 

.card-title{
    font-weight: 700;
}
.card-text,
.card-title{
    font-family: var(--font-text);
}

@media screen and (max-width: 769px) {
    .card{
        max-width: 70%;
        margin-right: 1rem !important;
    }
}

@media screen and (max-width: 400px) {
    .card{
        margin-right: 0 !important;
        width: 100%;
        min-width: 100%
    }
    
}